.leaderboard {
  min-height: calc(100vh - 8rem);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.leaderboard__main {
  margin-top: 100px;
  height: 750px;
  width: 100%;
  border-radius: 30px;
  border: 10px solid #b67800;
  background: #ffb672;
  position: relative;
  display: flex;
  justify-content: center;
}
.leaderboard__header {
  width: 615px;
  height: 150px;
  margin: 0 auto;
  border-radius: 0px 0px 60px 60px;
  border: 5px solid #b67800;
  background: #ffb672;
  position: absolute;
  top: -75px;
  font-family: "Lilita One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leaderboard__title {
  color: #663a18;
  font-family: "Lilita One";
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  /* padding: 35px 82px; */
}
.leaderboard__star {
  width: 140px;
  position: absolute;
  right: -70px;
  top: -70px;
}
